.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-title {
    font-size: 50px;
    margin: 40px 40px 40px;
}

.login-fields {
    align-items: start;
    padding: 10px;
}

.login-d {
    color: teal;
    padding-top: 30px
}

.f-login {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 3px;
    font-size: 15px;
}

.login-register {
    color: teal;
    border-bottom: 1px solid teal;
    margin-top: 10px;
    text-decoration: none;
}

.login-error {
    color: teal;
}

.login-logo {
    width: 110px;
    height: 110px;
}

.login-button{
    margin-block: 34px;
}