.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-title {
    font-size: 50px;
    margin: 40px 40px 40px;
}

.register-fields {
    align-items: start;
    padding: 10px;

}

.register-d{
    color: teal;
    padding-top: 10px
}

.register-back {
    margin-top: 45px;
    border-bottom: 1px solid teal;
    text-decoration: none;
}

.register-logo {
    width: 110px;
    height: 110px;
    margin-bottom: 20px;
}

.register-button{
    margin-top: 40px;
}

.register-msg {
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15px;
    color: teal;
}